body{
    font-family: Cambria, Cochin, Georgia, Times;
    background-color: #b6c5f297;
    margin: 0px;
    padding: 0px;
}

.perfil img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
    object-fit: cover;
    flex-shrink: 0;
}

.container{
    max-width: 800px;
    width: 90%;
    margin: 30px auto;
    background-color: #b5cad9c8;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
}

.topo{
    display: flex;
    align-items: center;
    gap: 20px;
   
}

h1{
    margin: 0px;
    margin-bottom: 20px;
    color: #333;
}
.info{
    
    margin: 20px auto;
    color: #555;
    width: 100%;   
    word-break: break-word;
}

.infoPesss{
    margin-left:50px;
    color: #555;
}

.conteudo{
    border-radius: 2%;
    background-color: #fff9f9c8;
    padding: 20px;
    text-align: justify;
    font-size: 18px;
    line-height: 2;
}
.objetivo{
    border-radius: 2%;
    margin: 20px 0;
    background-color: #fff9f9c8;
    padding: 20px;
    text-align: justify;
    font-size: 18px;
    line-height: 2;
}

.experiencia{
    border-radius: 2%;
    margin: 20px 0;
    background-color: #fff9f9c8;
    padding: 20px;
    text-align: justify;
    font-size: 18px;
    line-height: 2;
}

.formacao{
    border-radius: 2%;
    margin: 20px 0;
    background-color: #fff9f9c8;
    padding: 20px;
    text-align: justify;
    font-size: 18px;
    line-height: 2;
}

.habilidades{
    border-radius: 2%;
    margin: 20px 0;
    background-color: #fff9f9c8;
    padding: 20px;
    text-align: justify;
    font-size: 18px;
    line-height: 2;
}

.rodape{
    text-align: center;
    margin-top: 20px;
    color: #555;
}